/* -----------------------------------
--------------Font Link--------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ----------------------------------------------
----------------Common Style---------------------  */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

/* ----------------------------------------------
-----------------Navigation Style----------------  */
nav {
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 80px;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 0 34px;
}

.navigation li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.Navigation-title p {
  font-size: 24px;
  font-weight: bold;
}

.icon-title {
  font-size: 16px;
}

#nav-toggler {
  display: none;
}

.nav-toggler-icon {
  display: none;
  font-size: 25px;
}

/* ----------------------------------------------
-----------------Influencer Style----------------  */
.influencer {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.influencer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.influencer-details p {
  font-size: 16px;
  margin: 20px 0;
}

.influencer-title {
  font-weight: 700;
  font-size: 52px;
}

.influencer-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.influencer-image img {
  width: 440px;
  height: 414px;
}

.influencer-button {
  outline: 0;
  border: 0;
  background: #e02c6d;
  border-radius: 41px;
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
}

.influencer-image:hover img {
  transform: scale(1.5) rotate(360deg);
  transition: transform 3s ease-out;
}

/* ----------------------------------------------
-----------------logo Style----------------  */
.logos {
  align-items: center;
  width: 90%;
  height: 100px;
  border-bottom: 2px solid rgb(223, 221, 221);
  border-top: 2px solid rgb(223, 221, 221);
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* -------------------------------------------------
-----------------popular-collection style-----------  */
.popular-section {
  width: 90%;
  margin: 0 auto;
}

.collection {
  background: #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 0 20px;
  padding: 10px;
}
.popular-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  justify-content: center;
  margin-top: 15px;
}

.product-details {
  margin-left: 30px;
}
.product-image {
  text-align: center;
}

.product-image img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.populer-title {
  padding: 15px;
  font-size: 28px;
  text-align: center;
}

.product-title {
  padding: 16px 0;
  font-size: 24px;
}
.product-price {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 6px;
}
.fa-star.filled {
  font-size: 12px;
  color: #fb8200;
}

.fa-star-half-alt {
  font-size: 12px;
  color: #fb8200;
}

span {
  padding-left: 8px;
  font-size: 14px;
}

.product-info {
  padding-top: 6px;
  font-size: 14px;
  color: #787885;
  margin-left: 30px;
}

.product-button {
  outline: 0;
  border: 0;
  color: #e02c6d;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  float: right;
}

/* -------------------------------------------------
-----------------Offer Section Style-----------  */
.offer-section {
  width: 90%;
  height: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3eeec;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(230, 238, 236, 0.2);
  margin: 0 auto;
  margin-top: 100px;
  padding: 5px 5px;
}

.offer-image img {
  width: 450px;
  height: 300px;
  border-radius: 20px;
}

.offer-details {
  margin-right: 50px;
}

.offer-details h4 {
  font-size: 40px;
}

.offer-details h2 {
  font-size: 80px;
}

.percentage {
  font-size: 80px;
  color: #e02c6d;
}
.promo-code {
  font-size: 40px;
  color: #e02c6d;
}

/* -------------------------------------------------
-----------------Footer Style----------------------  */
footer {
  margin-top: 100px;
  background-color: #0b0730;
  height: auto;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socila-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.footer-content h2 {
  font-size: 24px;
  padding-bottom: 10px;
  color: #ffffff;
}

.footer-content h3 {
  font-size: 14px;
  padding-bottom: 10px;
  color: #ffffff;
}

.socila-link li {
  list-style: none;
  margin-right: 20px;
}

.socila-link li a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}

/* -------------------------------------------------
-----------------Mobile Responsive Style----------------------  */
@media screen and (max-width: 576px) {
  .nav-toggler-icon {
    display: block;
  }

  .navigation {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transform: translateY(-330px);
    transition: 0.7s ease-in-out;
    background-color: black;
  }

  .navigation li a {
    color: white;
  }

  #nav-toggler:checked ~ .navigation {
    transform: translateY(0px);
  }

  .Navigation-title {
    font-size: 20px;
  }

  .influencer {
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .influencer-details {
    order: 2;
    align-items: center;
  }

  .influencer-image img {
    width: 300px;
    height: 300px;
  }

  .popular-section {
    text-align: center;
    width: 80%;
  }
  .popular-collection {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .offer-section {
    width: 90%;
    height: 200px;
  }

  .offer-image img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }

  .offer-details h4 {
    font-size: 20px;
  }

  .offer-details h2 {
    font-size: 30px;
  }

  .percentage {
    font-size: 20px;
    color: #e02c6d;
  }
  .promo-code {
    font-size: 20px;
    color: #e02c6d;
  }

  .logos {
    grid-template-columns: repeat(4, 1fr);
  }

  .influencer-details p {
    font-size: 15px;
    margin: 20px 0;
  }

  .influencer-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }
}

/* -------------------------------------------------
-----------------Tblet Responsive Style----------------------  */

@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav-toggler-icon {
    display: block;
  }

  .navigation {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transform: translateY(-330px);
    transition: 0.7s ease-in-out;
    background-color: black;
  }

  .navigation li a {
    color: white;
  }

  #nav-toggler:checked ~ .navigation {
    transform: translateY(0px);
  }

  .popular-collection {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }

  .influencer-details p {
    font-size: 15px;
    margin: 20px 0;
  }

  .influencer-title {
    font-weight: 700;
    font-size: 30px;
  }

  .influencer-image img {
    width: 90%;
    height: 90%;
  }

  .offer-details {
    width: 80%;
  }

  .offer-image img {
    width: 100%;
    height: 100%;
  }

  .offer-image {
    width: 80%;
    text-align: center;
  }
  .offer-details h4 {
    font-size: 20px;
  }

  .offer-details h2 {
    font-size: 30px;
  }

  .percentage {
    font-size: 40px;
    color: #e02c6d;
  }
  .promo-code {
    font-size: 20px;
    color: #e02c6d;
  }

  .logos {
    grid-template-columns: repeat(4, 1fr);
  }

  footer {
    width: 100%;
  }
}
