/* Font Link  */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Common Style  */
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Navigation Style  */
nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 0 34px;
}

.navigation li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.Navigation-title p {
  font-size: 24px;
  font-weight: bold;
}

.icon-title {
  font-size: 16px;
}

/* Influencer Style  */
.influencer {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.influencer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.influencer-details p {
  font-size: 16px;
  margin: 20px 0;
}

.influencer-title {
  font-weight: 700;
  font-size: 52px;
}

.influencer-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.influencer-image img {
  width: 440px;
  height: 414px;
}

.influencer-button {
  outline: 0;
  border: 0;
  background: #e02c6d;
  border-radius: 41px;
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
}

.influencer-image:hover img {
  transform: scale(1.5) rotate(360deg);
  transition: transform 3s ease-out;
}

/* logo Style  */

.logos {
  align-items: center;
  width: 1200px;
  height: 100px;
  border-bottom: 2px solid rgb(223, 221, 221);
  border-top: 2px solid rgb(223, 221, 221);
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* popular-collection style  */

.popular-section {
  width: 1047px;
  margin: 0 auto;
}

.collection {
  background: #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 0 20px;
  padding: 10px;
}
.popular-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  justify-content: center;
  margin-top: 15px;
}

.product-image img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.populer-title {
  padding: 15px;
  font-size: 28px;
  text-align: center;
}

.product-title {
  padding: 16px 0;
  font-size: 24px;
}
.product-price {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 6px;
}
.fa-star.filled {
  font-size: 12px;
  color: #fb8200;
}

.fa-star-half-alt {
  font-size: 12px;
  color: #fb8200;
}

span {
  padding-left: 8px;
  font-size: 14px;
}

.product-info {
  padding-top: 6px;
  font-size: 14px;
  color: #787885;
}

.product-button {
  outline: 0;
  border: 0;
  color: #e02c6d;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  float: right;
}

/* Footer Style  */
footer {
  margin-top: 200px;
  background-color: #0b0730;
  height: auto;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socila-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.footer-content h2 {
  font-size: 24px;
  padding-bottom: 10px;
  color: #ffffff;
}

.footer-content h3 {
  font-size: 14px;
  padding-bottom: 10px;
  color: #ffffff;
}

.socila-link li {
  list-style: none;
  margin-right: 20px;
}

.socila-link li a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}
